pandas
numpy
sentence-transformers
bertopic
umap-learn
hdbscan
transformers
torch
chromadb
sqlalchemy
psycopg2-binary
langdetect
rapidfuzz
streamlit
python-dotenv
camel-tools
arabic-reshaper
python-bidi
